[submodule "mundial/packages/janusweb"]
	path = mundial/packages/janusweb
	url = https://github.com/jbaicoianu/janusweb.git
[submodule "mundial/libs/radio-garden"]
	path = mundial/libs/radio-garden
	url = https://github.com/uniquelipu/Radio-Garden.git
[submodule "mundial/packages/openglobus"]
	path = mundial/packages/openglobus
	url = https://github.com/openglobus/openglobus.git
[submodule "mundial/packages/itowns"]
	path = mundial/packages/itowns
	url = https://github.com/iTowns/itowns.git
[submodule "mundial/packages/gun"]
	path = mundial/packages/gun
	url = https://github.com/amark/gun.git
[submodule "mundial/packages/kart"]
	path = mundial/packages/kart
	url = https://github.com/koordinates/kart.git
[submodule "mundial/packages/maplibre-gl-js"]
	path = mundial/packages/maplibre-gl-js
	url = https://github.com/maplibre/maplibre-gl-js.git
[submodule "mundial/packages/Leaflet"]
	path = mundial/packages/Leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "mundial/packages/rete"]
	path = mundial/packages/rete
	url = https://github.com/retejs/rete.git
[submodule "mundial/packages/js-ipfs"]
	path = mundial/packages/js-ipfs
	url = https://github.com/ipfs/js-ipfs.git
[submodule "mundial/packages/synapse"]
	path = mundial/packages/synapse
	url = https://github.com/matrix-org/synapse.git
