[submodule "packages/gun"]
	path = packages/gun
	url = https://github.com/amark/gun.git
[submodule "packages/janusweb"]
	path = packages/janusweb
	url = https://github.com/jbaicoianu/janusweb.git
[submodule "packages/kart"]
	path = packages/kart
	url = https://github.com/koordinates/kart
[submodule "packages/maplibre-gl-js"]
	path = packages/maplibre-gl-js
	url = https://github.com/maplibre/maplibre-gl-js.git
[submodule "packages/openglobus"]
	path = packages/openglobus
	url = https://github.com/openglobus/openglobus.git
[submodule "packages/Leaflet"]
	path = packages/Leaflet
	url = https://github.com/Leaflet/Leaflet.git
[submodule "packages/rete"]
	path = packages/rete
	url = https://github.com/retejs/rete.git
[submodule "packages/itowns"]
	path = packages/itowns
	url = https://github.com/iTowns/itowns.git
[submodule "packages/js-ipfs"]
	path = packages/js-ipfs
	url = https://github.com/ipfs/js-ipfs.git
[submodule "packages/synapse"]
	path = packages/synapse
	url = https://github.com/matrix-org/synapse.git
